@model List<Parking>

@{
    Layout = "_Sidebar";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>List Parking</h3>
            </div>

            <div class="card-body">
                <a href="/Parking/Create" class="btn btn-success">Add Parking</a>

                <div class="mb-3">
                    <form action="Index" method="get">
                        <input type="text" name="search" class="form-control" placeholder="License plate">
                        <button type="submit" class="btn-success">Search</button>
                    </form>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Transportation Type</th>
                            <th>License Plate</th>
                            <th>Time Entry</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var parking in Model)
                        {
                            <tr>
                                <td>@parking.TransportationType.Name</td>
                                <td>@parking.LicensePlate</td>
                                <td>@parking.TimeEntry</td>

                                <td>
                                    <a href="/Parking/Detail/@parking.Id" class="btn btn-primary">Detail</a>
                                    <a href="/Parking/Edit/@parking.Id" class="btn btn-warning">Edit</a>
                                    <a href="/Parking/Delete/@parking.Id" class="btn btn-danger">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>